<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tpconnects">

    <listeners>
        <!--<listener class-name="ScreenshotListener" />-->
        <listener class-name="core.admin.utility.Listeners.TestListeners" />
        <!--<listener class-name="org.uncommons.reportng.HTMLReporter"/>-->
        <!--<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>-->
    </listeners>

    <test name="adminTest_FF" preserve-order="true">
        <parameter name="browser" value="Firefox"/>
        <classes>

            <class name="core.admin.tests.initTest"/>

            <class name="core.admin.tests.adminLoginPageTest"/>
        </classes>
    </test>
    <!--<test name="adminTest_Chrome">-->
        <!--<parameter name="browser" value="Chrome"/>-->
        <!--<classes>-->

            <!--<class name="initTest"/>-->

            <!--<class name="adminLoginPageTest"/>-->
        <!--</classes>-->
    <!--</test>-->
</suite>